@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Roboto&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --background: rgb(13, 105, 0);
    --color: white;

    --dark-text-color: white;
    --dark-faded-text-color: #DDDDDD;
    --dark-background: black;
    --dark-t-background: rgba(0, 0, 0, 0.3);
    --dark-green-1: #A0E3B0;
    --dark-green-2: #52CB6E;
    --dark-green-3: #2A8D41;
    --dark-green-4: #0E2F16;
    --dark-t-green-4: #0E2F1680;
    --dark-green-5: #051007;
    --text-color: black;
    --faded-text-color: #333333;
    // --background: white;
    --t-background: rgba(255, 255, 255, 0.3);
    --green-1: #EFFAF2;
    --green-2: #D0F1D8;
    --green-3: #A0E3B0;
    --green-4: #52CB6E;
    --t-green-4: #52CB6E80;
    --green-5: #2A8D41;

    color: var(--color);
}

* {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    font-family: Roboto;
}

h1 {
    font-family: "Libre Caslon Text";
    font-weight: 400;
    font-size: clamp(28px, 3rem, 52px);
}

// Used for tips texts, such as the dragging tip.
p.tip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    color: var(--faded-text-color);
    font-family: Roboto;
    transition: all .2s ease;
    font-variant: all-small-caps;

    &.active {
        opacity: 1;
    }
}

a {
    text-decoration: underline;
    cursor: pointer;
    transition: all .2s ease;
    font-family: "Source Code Pro";
    color: var(--color);
    margin-left: 8px;
    margin-right: 8px;

    &:visited {
        color: var(--green-1);
    }
}
