 .link {
    font-size: var(--regular-font-size);
    font-weight: var(--semi-bold-weight);
    text-decoration: underline;
    text-align: justify;

    &:hover {
        transform: scale(0.9);
        cursor: pointer;
    }
}