@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    height: 100dvh;
}

img {
    width: 50vw;
    max-width: 300px;
    animation-name: appear;
    animation-duration: 0.8s;
}

p {
    margin-block: 0;
    padding-inline: 0;
    font-variant: all-small-caps;
    font-family: Roboto;
    font-weight: 700;
    font-size: clamp(24px, 5vw, 30px);
    color: white;
    animation-name: appear;
    animation-duration: 1.2s;
}

@keyframes appear {
    0% {
        opacity: 0;
        filter: blur(30px);
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        filter: blur(0px);
        transform: translateY(0px);
    }
}
