.horizontal-wrapper {
    padding: 2%;
}

.horizontal-presentation {
    width: 86%;
    transform: translateY(25%);
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 5%;
    margin-right: 5%;
    opacity: 0;


    &.active {
        transform: translateY(0%);
        opacity: 1;
    }
}
