.shapes {
    width: 100vw;
    height: 100vh;

    &>* {
        width: 100vw;
        height: 100vh;
        position: "relative";
    }
}

.title-screen-content {
    width: 100vw;
    height: 100vh;
    background: var(--significative-theme-color-opacity);
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;

    &.on-mobile {
        mix-blend-mode: unset;

    }

    &>svg {
        width: var(--medium-font-size);
        padding-left: 1vw;
        padding-top: 1vh;
        fill: var(--significative-theme-color-relative-to-palette-reversed);

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }

    &>.center {
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}