:root {
    --background: black;
    --text: white;
}

// set default values to the body
body {
  color: var(--text);
  background: var(--background);
  max-height: 100vh;
}

// disable user-agent margin and padding on all elements
// add transition for color, background and fill properties
* {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;

  margin-block-start: 0;
  margin-block-end: 0;

  margin-inline-start: 0;
  margin-inline-end: 0;

  padding: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;

  padding-block-start: 0;
  padding-block-end: 0;

  padding-inline-start: 0;
  padding-inline-end: 0;

  overflow: hidden;
}
