// Apply various styles to common SVG.
svg.fill {
    fill: var(--text);
    cursor: pointer;
    padding: 10px;

    transition: all .15s ease;

    &:hover {
        opacity: .4;
    }

    &:active {
        transform: scale(1.2);
    }
}

path.progressive-path-svg-draw {
  stroke-dasharray: 3000;
  fill: var(--text);
  transform-origin: center;

  animation: ppsvd 2.5s linear;
}

@keyframes ppsvd {
  from {
    stroke-dashoffset: 3000;
    fill: var(--background);
    transform: scale(1);
  }
  80% {
    stroke-dashoffset: 0;
    fill: var(--background);
  }
  to {
    fill: var(--text);
  }
}
