// compatibility: apply text color to svg elements
svg.fill-fill {
  fill: var(--text);
  & > * {
    fill: var(--text);
    transition: all 0.1s ease;
  }

  &.reversed {
    fill: var(--reversed-text);
    & > * {
      fill: var(--reversed-text);
    }
  }

  transition: all 0.1s ease;
}
svg.fill-stroke {
  stroke: var(--text);
  & > * {
    stroke: var(--text);
    transition: all 0.1s ease;
  }
  transition: all 0.1s ease;

  &.reversed {
    stroke: var(--reversed-text);
    & > * {
      stroke: var(--reversed-text);
    }
  }

  &.discreet {
    stroke: var(--disc-text);
    & > * {
      stroke: var(--disc-text);
    }
  }
}

// clickable element
*.clickable {
  &:hover {
    cursor: pointer;
    &.fill-fill {
      fill: var(--green);
      & > * {
        fill: var(--green);
      }
    }
    &.fill-stroke {
      stroke: var(--green);
      & > * {
        stroke: var(--green);
      }
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

// prevent selection
*.prevent-select {
  -webkit-user-select: none;
  user-select: none;

  &:hover {
    transform: none;
    cursor: default;
  }
  &:active {
    transform: none;
    cursor: default;
  }
}

path.progressive-path-svg-draw {
  stroke-dasharray: 3000;
  stroke-dashoffset: 1500;
  animation: ppsvd 5s linear infinite;
}

@keyframes ppsvd {
  from {
    stroke-dashoffset: 3000;
  }
  25% {
    stroke-dashoffset: 1500;
  }
  50% {
    stroke-dashoffset: 0;
  }
  75% {
    stroke-dashoffset: -1500;
  }
  to {
    stroke-dashoffset: -3000;
  }
}
