@use "../shared/mixins.scss";

.button {
    color: var(--text);
    width: min-content;
    border-radius: 12px;
  
    border: 1px solid var(--text);
    padding: 0.5rem;
    white-space: nowrap;
  
    text-decoration: none;
  
    &.no-border {
      border: none;
  
      &:hover {
        border: none;
      }
    }
  
    &:hover {
      cursor: pointer;
      border: 1px solid transparent;
      background-color: var(--container);
      color: white;
      @include mixins.box-shadow(rgba(0, 0, 0, 0.25));
  
      &.btn-red {
        border: 1px solid var(--red-bg);
        background-color: var(--red-bg);
        @include mixins.box-shadow(var(--red-bg));
      }
    }
    &:active {
      transform: scale(0.9);
    }
  
    // when button is activated
    &.active {
      border: 1px solid var(--green-mobalpa);
      background-color: var(--green-mobalpa);
      color: white;
  
      box-shadow: 0px 0px 40px -6px var(--green-mobalpa);
  
      &.btn-red {
        border: 1px solid var(--red-bg);
        background-color: var(--red-bg);
        box-shadow: 0px 0px 40px -6px var(--red-bg);
      }
    }
  
    @include mixins.transition;
  }